{% load staticfiles %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Компания ЗАО «Альт-Лан»</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "css/normalize.css" %}" />
    <link rel="stylesheet" href="{% static "css/main.css" %}" />
    <link rel="stylesheet" href="{% static "css/slicknav.custom.css" %}" />
    <link rel="stylesheet" href="{% static "css/fp.css" %}" />
   
      <!--[if lt IE 9]>
      <script src="{% static "js/vendor/respond.js" %}"></script>
    <![endif]-->
</head>
<body class="index">
    <div class="nav_wrapper">
        <nav class="main_menu clearfix container">
            <a href="/" class="logo">
                <img src="{% static "css/img/logo_top_main.png" %}" alt="" class="main" />
                <img src="{% static "css/img/logo_top_minor.png" %}" alt="" class="minor" />
            </a>
            <ul class="menu_items" id="menu_items">
                {% for item in menu %}
                    <li data-menuanchor={{ item.slug }}>
                        <a href="#{{ item.slug }}">{{ item.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
    </div>
    <div id="fullpage" class="g_wrapper">
        <div class="section grdnt_bg">
            <div class="deco_angle outer"></div>
            <div class="deco_angle inner"></div>
            <div class="back"></div> 
            {% for item in slider %}
            <div class="slide">
                <div class="display_slide">
                   
                        <h3 class="slide_title">
                            {% autoescape off %}{{ item.title }}{% endautoescape %}
                        </h3>
                        <div class="divider"></div>
                        <div class="slide_desc">
                            {% autoescape off %}{{ item.text }}{% endautoescape %}
                        </div>
                        <!--<button class="btn btn_d">Ознакомиться</button>-->
                  
                </div>
            </div>
              {% endfor %}
        </div>
        <div class="section products">
            <section>
                <header class="container title_container">
                    <h1>Наши программные продукты</h1>
                    <div class="divider"></div>
                </header>
                {% for item in product_context %}
                    {% if forloop.counter0|divisibleby:"2" %}
                        <article class="content_row">
                    {% else %}
                        <article class="content_row even">
                    {% endif %}
                        <div class="content_row_img" style="background-image: url({{ item.image.url }});"></div>
                        <div class="container">
                            <div class="content_row_text">
                                <header>
                                	<h1>{{ item.name }}</h1>
                                    <em>{{ item.keywords }}</em>
                                    <div class="divider"></div>
                                </header>
                                <p>{% autoescape off %}{{ item.preview }}{% endautoescape %}</p>
                                <footer>
                                    <a href="/product/{{ item.id }}">Подробнее</a>
                                </footer>
                            </div>
                        </div>
                    </article>
                {% endfor %}
                <footer class="container"><a href="/products/" class="btn btn_d">Все продукты</a></footer>
            </section>
        </div>
        <div class="section projects">
            <section>
                <header class="container title_container">
                    <h1>Проекты</h1>
                    <div class="divider"></div>
                </header>
                <div class="tabs">
                    <ul class="container projects_slider_controls">
                        {% for item in project_context %}
                            <li>
                                <a>{{ item.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                    <ul class="projects_slides">
                        {% for item in project_context %}
                            <li class="content_row">
                                <div class="content_row_img">
                                    <img src="{{ item.image.url }}" alt="" />
                                </div>
                                <div class="container">
                                    <div class="content_row_text">
                                        <p>{{ item.preview }}</p>
                                        <a href="/project/{{ item.id }}" class="btn btn_g">Ознакомиться</a>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            	<footer class="container"><a href="/projects/" class="btn btn_d">Все проекты</a></footer>
            </section>
        </div>
        <div class="section company_info">
                <section class="partners">
                    <header class="container title_container">
                        <h1>Партнёры</h1>
                        <div class="divider"></div>
                    </header>
                    <section class="container">                    	
                        {% for item in partner_context %}
                        <figure class="partner_main_grid">
                            <!-- link to internal partner page-->
                            <a class="fadein" href="/partner/{{ item.id }}">
                               <img src="{{ item.logo_mono.url }}" />
                                <div class="divider"></div>
                                <figcaption>{{ item.preview }}</figcaption>
                            </a>
                        </figure>
                        {% endfor %}
                    </section>
                    <section class="container">
                        {% for item in partner_logo_mono_context %}
                      	<div class="partner_minor_grid">
                            <!-- link to external partner site -->
                            <a href="/partner/{{ item.id }}" target="_blank">
                                <img src="{{ item.logo_mono.url }}" alt="" /></a>
                        </div>
                        {% endfor %}
                    </section>
                    <footer class="container"><a href="/partners/" class="btn btn_d">Все партнёры</a></footer>
                </section>
                <section class="team">
                    <header class="container title_container">
                        <h1>Команда</h1>
                        <p>{{ contact_info.slogan }}</p>
                    </header>
                        <div class="container">
                            <div class="c-left">
                                <p>{{ team_text_left }}</p>
                            </div>
                            <div class="c-right">
                                <p>{{ team_text_right }}</p>
                            </div>
                        </div>
                        <div class="container photos">
                        {% for item in team_context %}
                            <div class="box">
                               <div class="boxInner">
                               	 <img src="{{ item.image.url }}" alt="" />
                                <div class="titleBox">
                                    <b>{{ item.name }} {{ item.surname }}</b>
                                    <em>{{ item.post }}</em>
                                </div>
                               </div>
                            </div>
                        {% endfor %}
                        </div>
                </section>
                <section class="company_news">
                    <header class="container title_container">
                        <h1>Новости компании</h1>
                    </header>
                     {% for item in company_news_context %}
                    <article class="container">
                       
                            <div class="desc">
                                    <header>
                                      <h1>{{ item.name }}<span> îò   {{ item.author.genetivus_name }} </span> </h1>
                                  </header>
                                  <div class="clearfix">
                                      <div class="date">
                                          <p>{{ item.event_date|date:"F d"  }}</p>
                                          <p>{{ item.event_date|date:"Y"  }}</p>
                                      </div>
                                      <a class="intro read_more" href=/company_news_item/{{ item.id }}>{{ item.preview|striptags }}</a>
                                  </div>
                            </div>
                            <div class="pic{{ item.image|yesno:', no-img' }}">
                            	{% if item.image %}
                                    <img src="{{ item.image.url|default:'static/img/company_news_img_placeholder.png'}}" alt="" />                               

                                {% endif %}
                            </div>
                    </article>
                    {% endfor %}
                    <footer class="container"><a href="/company_news/" class="btn btn_d">Все новости компании</a></footer>
                </section>
                <section class="area_news">
                    <header class="container title_container">
                        <h1>Всегда в курсе последних новостей</h1>
                    </header>
                    <div class="container">
                        <div class="category">
                            <!--<h2>{{ category_rss_news_left }}</h2>-->

                            {% for item in rss_news_left %}
                            <article>
                                <div class="date">{{ item.event_date|date:"d.m.Y" }}</div>
                                <div class="intro" data-link="/industry_news_item/{{ item.id }}">{{ item.preview|striptags }}</div>
                            </article>
                            {% endfor %}
                        </div>
                        <div class="category">
                            <!--<h2>{{ category_rss_right_left }}</h2>-->

                            {% for item in rss_news_right %}
                            <article>
                                <div class="date">{{ item.event_date|date:"d.m.Y"  }}</div>
                                <div class="intro" data-link="/industry_news_item/{{ item.id }}">{{ item.preview|striptags }}</div>
                            </article>
                            {% endfor %}
                        </div>
                    </div>
                    <footer class="container"><a href="/industry_news/" class="btn btn_d">Все новости отрасли</a></footer>
                </section>
        </div>
        <div class="section contacts">
            <header class="container title_container">
                <h1>Контакты</h1>
                <div class="divider"></div>
            </header>
            <div class="details container">
                <div class="phones">
                    <p>{{ contact_info.phone }}</p>
                </div>
                <div class="hours">
                    <p>
                        <span class="workdays"></span>
                        <span class="workdays"></span>
                        <span class="workdays"></span>
                        <span class="workdays"></span>
                        <span class="workdays"></span>
                        <span class="workdays"></span>
                        <span class="workdays"></span>
                        <span class="workdays"></span>
                        <span class="wknd"></span>
                        <span class="wknd"></span>
                    </p>
                    <p>
                        10:00 — 19:00
                    </p>
                </div>
                <div class="emails">
                    <p>{{ contact_info.email }}</p>
                </div>
            </div>
            <!--TODO lazy load-->
            <div id="altlan_map" style="width: 100%; position: absolute; left: 0px; bottom: 105px;">
                <div class="loader"></div>
            </div>

        </div>
    <footer class="page_footer">
        <div class="container inner">© 2014, {{ contact_info.name }}</div>
    </footer>
    </div>

   <script type="text/javascript" src="{% static "js/vendor/jquery-1.11.1.min.js" %}"></script>   
   <script type="text/javascript" src="{% static "js/plugins.js" %}"></script>
   <script type="text/javascript" src="{% static "js/vendor/jquery.easings.min.js" %}"></script>
   <script type="text/javascript" src="{% static "js/jquery.slicknav.custom.js" %}"></script>
   <script type="text/javascript" src="{% static "js/common.js" %}"></script> 
   <script type="text/javascript" src="{% static "js/fp.js" %}"></script>
   <script type="text/javascript" src="{% static "js/readmore.min.js" %}"></script>    
   <script type="text/javascript" src="{% static "js/index.js" %}"></script>
   <script type="text/javascript" charset="utf-8">
      
    </script>
</body>
</html>
