{% load staticfiles %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Компания ЗАО «Альт-Лан»</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "css/normalize.css" %}" />
    <link rel="stylesheet" href="{% static "css/main.css" %}" />
    <link rel="stylesheet" href="{% static "css/fp.css" %}" />
    <script src="{% static "js/vendor/modernizr-2.6.2.min.js" %}"></script>
</head>
<body>
    <div class="nav_wrapper">
        <nav class="main_menu clearfix">
            <a href="/" class="logo">
                <img src="{% static "css/img/logo_top_main.png" %}" alt="" class="main" />
                <img src="{% static "css/img/logo_top_minor.png" %}" alt="" class="minor" />
            </a>
            <ul class="menu_items" id="menu_items">
                {% for item in menu %}
                    <li data-menuanchor={{ item.slug }}>
                        <a href="#{{ item.slug }}">{{ item.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
    </div>
    <div id="fullpage" class="g_wrapper">
        <div class="section projects">
            <section>
                <header class="container title_container">
                    <h1>Проекты</h1>
                    <div class="divider"></div>
                </header>
                <div class="tabs">
                    {% for item in product_context %}
                        <ul class="container projects_slider_controls">
                            <li><a>{{ item.name }}</a></li>
                        </ul>
                        <ul class="projects_slides">
                            <li class="content_row">
                                <div class="content_row_img">
                                    <img src="{{ item.image.url }}" alt="" />
                                </div>
                                <div class="container">
                                    <div class="content_row_text">
                                        <p>{{ item.preview }}</p>
                                        <a href="/project/{{ item.id }}" class="btn btn_g">Ознакомиться</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    {% endfor %}
                </div>
            </section>
        </div>
        <div class="section">
            <section>
                <section class="partners">
                    <header class="container title_container">
                        <h1>Партнёры</h1>
                        <div class="divider"></div>
                    </header>
                    <section class="container">
                        {% for item in partner_context %}
                        <figure class="partner_main_grid">
                            <!-- link to internal partner page-->
                            <a class="fadein" href="/partner/{{ item.id }}">
                                <img src="{{ item.logo_colored.url }}" alt="" />
                                <div class="divider"></div>
                                <figcaption>{{ item.preview }}</figcaption>
                            </a>
                        </figure>
                        {% endfor %}
                    </section>
                    <section class="container">
                        <div class="partner_minor_grid">
                            <!-- link to external partner site -->
                            {% for item in partner_logo_mono_context %}
                            <a href="/partner/{{ item.id }}" target="_blank">
                                <img src="{{ item.logo_mono.url }}" alt="" /></a>
                            {% endfor %}
                        </div>
                    </section>
                </section>
                <section class="team">
                    <header class="container title_container">
                        <h1>Команда</h1>
                        <p>упорство · творчество · результативность </p>
                    </header>
                        <div class="container">
                            <div class="team_main_grid c-left">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. </p>
                                <p>Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.</p>
                            </div>
                            <div class="team_main_grid c-right">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. </p>
                                <p>Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.</p>
                            </div>
                        </div>
                        {% for item in team_context %}

                        <div class="container fixed">
                            <div class="team_minor_grid">
                                <img src="{{ item.image.url }}" alt="" />
                                <div>
                                    <b>{{ item.name }} {{ item.surname }}</b>
                                    <em>{{ item.post }}</em>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                </section>
                <section class="company_news">
                    <header class="container title_container">
                        <h1>Новости компании</h1>
                    </header>
                    <article class="container">
                        {% for item in company_news_context %}
                            <div class="desc">
                                  <header>
                                      <h1>{{ item.title }}<span> автор   {{ item.author.name }}</span> </h1>
                                  </header>
                                  <div class="container">
                                      <div class="date">
                                          <p>{{ item.event_date|date:"F d"  }}</p>
                                          <p>{{ item.event_date|date:"Y"  }}</p>
                                      </div>
                                      <a class="intro read_more" href=/company_news_item/{{ item.id }}>{{ item.preview|striptags }}</a>
                                  </div>
                            </div>
                            <div class="pic">
                                <img src="{{ item.author.image.url }}" alt="" />
                            </div>
                        {% endfor %}

                    </article>
                    <a href="/company_news/" class="btn btn_d">Все новости компании</a>
                </section>
                <section class="area_news">
                    <header class="container title_container">
                        <h1>Всегда в курсе последних новостей</h1>
                    </header>
                    <div class="container">
                        <div class="category">
                            <h2>Заголовок категории новостей</h2>
                            <article>
                                <div class="date">16.08.2014</div>
                                <div class="intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.</div>
                            </article>
                            <article>
                                <div class="date">20.08.2014</div>
                                <div class="intro">Et nunc facilisis placerat, vel hac, eu auctor vel sed risus pellentesque urna urna proin scelerisque enim elementum augue in augue. </div>
                            </article>
                            <article>
                                <div class="date">21.08.2014</div>
                                <div class="intro">Parturient tristique mauris in vel tristique, porttitor, arcu elementum lectus? Ultrices sed pulvinar nec montes in. </div>
                            </article>
                        </div>
                        <div class="category">
                            <h2>Заголовок категории новостей</h2>
                            <article>
                                <div class="date">16.08.2014</div>
                                <div class="intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.</div>
                            </article>
                            <article>
                                <div class="date">20.08.2014</div>
                                <div class="intro">Et nunc facilisis placerat, vel hac, eu auctor vel sed risus pellentesque urna urna proin scelerisque enim elementum augue in augue. </div>
                            </article>
                            <article>
                                <div class="date">21.08.2014</div>
                                <div class="intro">Parturient tristique mauris in vel tristique, porttitor, arcu elementum lectus? Ultrices sed pulvinar nec montes in. </div>
                            </article>
                        </div>
                    </div>
                    <a href="area_news.html" class="btn btn_d">Все новости отрасли</a>
                </section>
            </section>
        </div>
        <div class="section contacts">
            <header class="container title_container">
                <h1>Контакты</h1>
                <div class="divider"></div>
            </header>
            <div class="container">
                <div class="phones">
                    <p>{{ contact_info.phone }}</p>
                </div>
                <div class="hours">
                    <p>
                        <span class="workdays"></span>
                        <span class="workdays"></span>
                        <span class="workdays"></span>
                        <span class="workdays"></span>
                        <span class="workdays"></span>
                        <span class="workdays"></span>
                        <span class="workdays"></span>
                        <span class="workdays"></span>
                        <span class="wknd"></span>
                        <span class="wknd"></span>
                    </p>
                    <p>
                        10:00 — 19:00
                    </p>
                </div>
                <div class="emails">
                    <p>{{ contact_info.email }}</p>
                </div>
            </div>
            <!--TODO lazy load-->
            <div id="altlan_map" style="width: 100%; position: absolute; left: 0px; bottom: 105px; height: 450px;">
                <div class="loader"></div>
            </div>

        </div>
    <footer class="page_footer">
        <div class="container inner">© 2014, {{ contact_info.name }}</div>
    </footer>
    </div>

    <!--<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.1.min.js"><\/script>')</script>-->
    <script src="http://.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!--<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>-->
    <script src="{% static "js/plugins.js" %}"></script>
    <script src="{% static "js/vendor/jquery.easings.min.js" %}"></script>
   <!-- <script type="text/javascript" src="js/vendor/jquery.slimscroll.min.js"></script>-->
    <script type="{% static "text/javascript" %}"  src="{% static "js/fp.js" %}"></script>
    <script src="{% static "js/main.js" %}"></script>

</body>
</html>
