{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<section class="container">
	<div class=" breadcrumbs">
		<a href="/">Главная</a> / <a href="/industry_news/">Новости отрасли</a>
	</div>
	{% for item in single_news %}
        <article class="news_item clearfix">
            <div class="news_header">
                <h1>{{ item.title }}</h1>
                <div class="news_resource">
                    <a href="{{ item.link|striptags }}">Cnews</a>
                </div>
                <time   data-datetime-month="{{ item.event_date|date:"F"  }}"
					 	data-datetime-day="{{ item.event_date|date:"d"  }}"
						data-datetime-year="{{ item.event_date|date:"Y"  }}"
						data-datetime-weekday="{{ item.event_date|date:"l"  }}"
						data-datetime-clock="{{ item.event_date|time:"H:i" }}">
                </time>
            </div>
            <ul class="news_related_categories">
                <li>
                    <a href="/industry_news/#{{ item.category.name }}">{{ item.category.name }}</a>
                </li>
            </ul>
            <div class="article_body">
                <aside class="related_news">
                    <div class="column_header">
                        Ссылки по теме
                    </div>
                    <ul>
                        {% for item in rss_category_last_5 %}
                            <li>
                                <time class="time_and_date_short"
                                         data-datetime-clock="{{ item.event_date|time:"H:i" }}"
                                         data-datetime-month="{{ item.event_date|date:"F"  }}"
                                         data-datetime-month-short="{{ item.event_date|date:"m"  }}"
                                         data-datetime-day="{{ item.event_date|date:"d"  }}"
                                         data-datetime-year="{{ item.event_date|date:"Y"  }}"
                                         data-datetime-year-short="{{ item.event_date|date:"y"  }}"
                                         data-datetime-weekday="{{ item.event_date|date:"l"  }}"
                                         data-datetime-weekdayshort="{{ item.event_date|date:"D"  }}"></time>
                                <dl>
                                    <dt>
                                        <!-- ссылка на новости из раздела интернет, софт -->
                                        <a href="/industry_news/#{{ item.category.name }}">{{ item.category.name }}</a>
                                        <!-- <a href="#">Софт</a> -->
                                    </dt>
                                    <dd>
                                        <!-- ссылка на новость -->
                                        <a href="/industry_news_item/{{ item.id }}">{{ item.title }}</a>
                                    </dd>
                                </dl>
                            </li>
                        {% endfor %}
                </aside>
                <aside class="latest_news">
                    <div class="column_header">
                        Последние новости
                    </div>
                    <ul>
                        {% for item in rss_last_5 %}
                            <li>
                                <time class="time_and_date_short"
                                         data-datetime-clock="{{ item.event_date|time:"H:i" }}"
                                         data-datetime-month="{{ item.event_date|date:"F"  }}"
                                         data-datetime-month-short="{{ item.event_date|date:"m"  }}"
                                         data-datetime-day="{{ item.event_date|date:"d"  }}"
                                         data-datetime-year="{{ item.event_date|date:"Y"  }}"
                                         data-datetime-year-short="{{ item.event_date|date:"y"  }}"
                                         data-datetime-weekday="{{ item.event_date|date:"l"  }}"
                                         data-datetime-weekdayshort="{{ item.event_date|date:"D"  }}"></time>
                                <dl>
                                    <dt>
                                        <!-- ссылка на новости из раздела интернет, софт -->
                                        <a href="/industry_news/#{{ item.category.name }}">{{ item.category.name }}</a>
                                        <!-- <a href="#">Софт</a> -->
                                    </dt>
                                    <dd>
                                        <!-- ссылка на новость -->
                                        <a href="/industry_news_item/{{ item.id }}">{{ item.title }}</a>
                                    </dd>
                                </dl>
                            </li>
                        {% endfor %}
                    </ul>
                </aside>
                <div class="article_content">
                    {% autoescape off %}{{ item.text }}{% endautoescape %}
                </div>
            </div>

            </div>
            </div>

        </article>
	{% endfor %}
</section>
{% endblock content %}