{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
		<link rel="stylesheet" href="{% static "css/area_news.css" %}" media="screen" charset="utf-8"/>
        <section class="container">
            <header class="title_container">
            <div class="section_icon area_news"></div>
            {%  for item in division %}
                <ul class="slogan">
                    <li>{{  item.slogan }}</li>
                </ul>
            {% endfor %}
            <h1>{{ page_name }}</h1>
            <div class="divider"></div>
            {%  for item in division %}
            <div class="section_description">

                    {% autoescape off%}
                        {{ item.text }}
                    {% endautoescape %}

            </div>
        {% endfor %}
        </header>
            <div class="tabs">
                <ul id="source" class="container projects_slider_controls">
                    {% for category_item in categories %}
                        <li data-id="{{ category_item.slug }}" class="active"><a href="#{{ category_item.name }}">{{ category_item.name }}</a></li>
                    {% endfor %}
                </ul>
                <ul class="projects_slides">
                    <div id="destination">
                        {% for item_category in categories%}
                            <li class="content_row">
                            {%  for item in page_context %}
                                {% ifequal item.category.id item_category.id %}
                                    <article class="clearfix" data-id="telecom">
                                        <div class="container area_news clearfix">
                                            <div class="desc">
                                                <header>
                                                    <h1><a href=/industry_news_item/{{ item.id }}>{{ item.title }}</a></h1>
                                                </header>
                                                <div class="clearfix">
                                                    <div class="date">
                                                      <p>{{ item.event_date|date:"d F"  }}</p>
                                                      <p>{{ item.event_date|date:"Y"  }}</p>
                                                    </div>
                                                    <p class="intro">{{ item.preview|striptags }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                {% endifequal %}
                            {% endfor %}
                            </li>
                        {% endfor %}
                    </div>
                </ul>
            </div>


        {% comment %}



                {% regroup page_context by category.name as page_context_list %}

                <ul id="source" class="news_filter container">
                    {% for category in page_context_list %}
                        <li>{{ category.grouper }}

                        <ul class="news_filter">
                            {% for item in category.list%}
                                <article class="clearfix" data-id="telecom">
                                    <div class="container area_news clearfix">
                                    <header>
                                        <h1><a href=/industry_news_item/{{ item.id }}>{{ item.title }}</a></h1>
                                    </header>
                                    </div>
                                </article>
                            {% endfor %}

                        </ul>

                        </li>

                    {% endfor %}

                </ul>
            {%  endcomment %}

            <div class="nav_panel container">
                {% if page_context.has_previous %}
                    <a href="{{ page_url }}{{ page_context.previous_page_number }}" class="prev_partner">previous</a>
                {% endif %}
                {% if page_context.has_next %}
                    <a href="{{ page_url }}{{ page_context.next_page_number }}" class="next_partner">next</a>
                {% endif %}
              </div>
        </section>
{% endblock content %}