{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
		<link rel="stylesheet" href="{% static "css/area_news.css" %}" media="screen" charset="utf-8"/>
        <section class="container">
            <header class="title_container">
            <div class="section_icon area_news"></div>
            {%  for item in division %}
                <ul class="slogan">
                    <li>{{  item.slogan }}</li>
                </ul>
            {% endfor %}
            <h1><a href="/industry_news/">{{ page_name }}</h1>
            <div class="divider"></div>
            {%  for item in division %}
                <div class="section_description">

                        {% autoescape off%}
                            {{ item.text }}
                        {% endautoescape %}

                </div>
            {% endfor %}
        </header>
            <div class="tabs">
                <ul id="source" class="container projects_slider_controls">
                    {% for category_item in categories %}
                        <li data-id="{{ category_item.slug }}" class="active">
                            <a href="/industry_news/category/{{ category_item.id }}">{{ category_item.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
                <ul class="projects_slides">
                    <div id="destination">
                            <li class="content_row">
                            {%  for item in page_context %}
                                    <article class="clearfix" data-id="telecom">
                                        <div class="container area_news clearfix">
                                            <div class="desc">
                                                <header>
                                                    <h1><a href=/industry_news_item/{{ item.id }}>{{ item.title }}</a></h1>
                                                </header>
                                                <div class="clearfix">
                                                    <div class="date">
                                                      <p>{{ item.event_date|date:"d F"  }}</p>
                                                      <p>{{ item.event_date|date:"Y"  }}</p>
                                                    </div>
                                                    <p class="intro">{{ item.preview|striptags }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                            {% endfor %}
                            </li>
                    </div>
                </ul>
            </div>

            <div class="nav_panel container">
                {% if page_context.has_previous %}
                    <a href="{{ page_url }}{{ page_context.previous_page_number }}" class="prev_partner">previous</a>
                {% endif %}
                {% if page_context.has_next %}
                    <a href="{{ page_url }}{{ page_context.next_page_number }}" class="next_partner">next</a>
                {% endif %}
              </div>
        </section>
{% endblock content %}