{% load staticfiles %}
<script src="{% static "js/vendor/respond.js" %}"></script>
</head>
<body class="secondary">
    <div class="g_wrapper">
        <div class="nav_wrapper">
        <nav class="main_menu clearfix">
           <div class="container">
             <a href="/" class="logo">
               <img src="{% static "css/img/logo_top_main.png" %}" alt="" class="main" />
                <img src="{% static "css/img/logo_top_minor.png" %}" alt="" class="minor" />
            </a>
            <ul class="menu_items" id="menu_items">
                {% for item in menu %}

                    <li data-menuanchor="/{{ item.url }}">
                        <a href="/{{ item.url }}">{{ item.name }}</a>
                    </li>
                {% endfor %}
            </ul>
           </div>
        </nav>
    </div>