{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <section class="container">
        <header class="title_container">
            <div class="section_icon partners"></div>
            {%  for item in division %}
                <ul class="slogan">
                    <li>{{  item.slogan }}</li>
                </ul>
            {% endfor %}
            <h1>{{ page_name }}</h1>
            <div class="divider"></div>
            {%  for item in division %}
            <div class="section_description">

                    {% autoescape off%}
                        {{ item.text }}
                    {% endautoescape %}

            </div>
        {% endfor %}
        </header>
        <div class="items_container">
            {% for item in page_context.object_list %}

                <a href="/partner/{{ item.id }}" class="item clearfix">
                    <span class="item_img">
                        <img src="{{ item.logo_colored.url }}" alt="{{ item.name }}" />
                    </span>
                    <span class="item_name">{{ item.name }}</span>
                    <span class="item_description">{{ item.preview }}</span>
                </a>

            {% endfor %}
        </div>
    </section>
{% endblock content %}