{% extends "base.html" %}
{% load staticfiles %}
{% block css_block %}
    <!-- Тут моднейший болк css -->
{% endblock css_block %}
{% block content %}
        <section>
            <header class="container title_container">
                <h1>Партнёр компании</h1>
            </header>
            <div class="nav_panel container">
                <a href="{{ page_url }}{{ previous_context.id }}" class="prev_partner">{{ previous_context.name }}</a>
                <a href="{{ page_url }}{{ next_context.id }}" class="next_partner">{{ next_context.name }}</a>
            </div>
            <article class="partner">
                <div class="container">
                    {% for item in page_context %}

                        <header>{{ item.name }}</header>
                        <div class="pic">
                            <img src="{{ item.logo_colored.url }}" alt="" />
                            <a href="https://{{ item.url }}/" target="_blank">{{ item.url }}</a>
                        </div>
                        <div class="desc">
                        {% autoescape off%}
                            {{ item.text }}
                        {% endautoescape %}
                        </div>
                    {% endfor %}
                </div>
            </article>
            <div class="nav_panel container">
                <a href="{{ page_url }}{{ previous_context.id }}" class="prev_partner">{{ previous_context.name }}</a>
                <a href="{{ page_url }}{{ next_context.id }}" class="next_partner">{{ next_context.name }}</a>
            </div>
        </section>
{% endblock content %}