{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
          <section>
            <header class="container title_container">
                <h1>Новости отрасли</h1>
            </header>
            {% for item in context_list %}
            <ul id="source" class="news_filter container">
                <!--<li data-id="{{ item.category_text }}" class="active"><a href="#">{{ item.category_text }}</a></li>-->
            </ul>
            <div id="destination">
                {% for inner_item in item%}
                            <header>
                                <h1>{{ inner_item }}</h1>
                            </header>
                {% endfor %}
                {% endfor %}
            </div>
        </section>
{% endblock content %}